<div class = "center hero-unit">
	<h1> Welcome to our new project</h1>
	<h2>
		这是我们的主页
	</h2>
	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
<%= link_to image_tag("zju.jpg",alt:"zju"), 'http://www.zju.edu.cn' %>

