<footer class="footer">
  <small>
    by <%= link_to "蒋明达", '../staff_jmd.html' %> 
    <%= link_to "谢宇", '../staff_xy.html' %> 
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>
